name: Project CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  lint-and-type-check:
    name: Source Code Verifying
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: backend

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          path: 'time_sheet'

      - name: Set up Python 3.12
        uses: actions/setup-python@v2
        with:
          python-version: 3.12

      - name: Install dependencies
        run:
          pip install -r requirements.txt

      - name: Mypy type checking
        run:
          mypy .

      - name: Pylint code linting
        run:
          pylint src